<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>locator usage of `express-yui`</title>

</head>
<body>

    <h1>header goes here for!</h1>

    <p>Tagline: {{tagline}}<p>

    {{{body}}}

    <div id="content">
        Loading...
    </div>

    <h3>Support for partials:</h3>
    <p>Partials will work, but they are template language specific, just like helpers, which means each compiler will have to take care of the details. Here is an example of a handlebars partial:</p>
    <ul>{{>baz}}</ul>

    <script>{{{state}}}</script>
    <script>
    app.yui.use('alerts-model', 'node', function (Y) {
        Y.Model && Y.Model.Alerts && Y.one('#content').setContent('<p>Ready!</p>');
    });
    </script>
</body>
</html>
