<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>serving yui core from origin app</title>

</head>
<body>

    <h1>header goes here!</h1>

    <div id="content">
        Loading...
    </div>

    <script>{{{state}}}</script>
    <script>
    app.yui.use('node', function (Y) {
        Y.one('#content').setContent('<p>Ready!</p>');
    });
    </script>
</body>
</html>
